<footer>
    <div class="o-footer__container">
        <div class="o-footer__recap">
            <img src="/assets/images/mnpol-invert.svg" alt="logo"> <br />
            <div class="o-footer__recap__links">
                <div class="o-footer__recap__links__column">
                    <a href="#">Online Services</a><br />
                    <a href="#">Library Services</a><br />
                    <a href="#">Careers</a><br />
                    <a href="#">For News Media</a><br />
                </div>
                <div class="o-footer__recap__links__column">
                    <a href="#">Report an Incident</a><br />
                    <a href="#">Groundwater Contamination Atlas</a><br />
                    <a href="#">What's in My Neighborhood</a><br />
                </div>
                <div class="o-footer__recap__links__column">
                    <a href="#">Clean Water Council</a><br />
                    <a href="#">Our Minnesota Climate</a><br />
                </div>
            </div>
            <p>© Sed id turpis eu est ornare maximus. 
                Donec dignissim rutrum euismod. Nulla vel sollicitudin ipsum. Sed lobortis nec lacus quis 
                vehicula. Donec nec eros vitae neque mattis vehicula eu in est. 
                Duis laoreet id felis nec consequat. </p>
        </div>
        <div class="o-footer__contact">
            <img src="/assets/images/social-media.png" alt="social media placeholder fpo">
            <h3>Contact us</h3>
            <ul>
                <li>Nam dictum pretium  (24 hours): 555-555-5555</li>
                <li class="u-underline">Sign up for email newsletters</li>
                <li class="u-underline">Submit a question</li>
            </ul>
        </div>
    </div>
</footer>