<header>
    <div class="u-light-gray">
        <div class="o-container">
            <div class="o-header__top">
                <div class="o-header__top__lang-select">
                    <select label="Select Language">
                        <option value="">Select Language</option>
                        <option value="english"  selected="">English</option>
                    </select>
                </div>
                <div class="o-header__top__search">
                    <input id="search" 
                        maxlength="128" 
                        name="search" 
                        size="15"
                        title="Enter the terms you wish to search for." 
                        type="search" 
                        value="">
                    <button><fa-icon [icon]="faSearch"></fa-icon></button>
                </div>
            </div>
        </div><!-- container -->
    </div><!-- gray -->
    <div class="o-container__body">
        <div class="o-header__bottom">
            <div class="o-header__bottom_logo">
                <img src="/assets/images/mnpol.svg" alt="logo">
            </div>
            <nav>   
                
                <ul>
                    <li *ngFor="let item of nav" (mouseover)="onMouseoverNav(item)" class="mainNav">{{item.text}}</li>
                </ul>
                <div class="o-header__bottom__expanded-nav__container" *ngIf="showNav" (mouseleave)="onMouseoutNav()">
                    <!-- *ngIf="showNav" -->
                    <div class="o-header__bottom__expanded-nav"></div>
                </div>
            </nav>
        </div>
    </div>
</header>

