<h1>Sed pulvinar venenatis!</h1>
<div class="o-forward__container">
    <div class="o-forward__section">
        <div class="o-forward__section__quad">
            <div class="o-forward__section__icon">
                <img src="/assets/images/hands-holding-heart-icon.svg">
            </div>
            <div class="o-forward__section__title">Suspendisse tortor</div>
            <div class="o-forward__section__copy">
                Fusce at sem condimentum, placerat nisl sed, aliquam risus. Sed pulvinar quam nec arcu venenatis condimentum. Aliquam at massa nunc. 
            </div>
        </div>
    </div>
    <div class="o-forward__section">
        <div class="o-forward__section__quad">
            <div class="o-forward__section__icon">
                <img src="/assets/images/tractor-icon_0.svg">
            </div>
            <div class="o-forward__section__title">Nulla porttitor</div>
            <div class="o-forward__section__copy">
                Duis orci felis, elementum et commodo sagittis, ullamcorper in neque. Maecenas convallis rutrum tortor, eu efficitur leo molestie sit amet. 
            </div>
        </div>
    </div>
    <div class="o-forward__section">
        <div class="o-forward__section__quad">
            <div class="o-forward__section__icon">
                <img src="/assets/images/seedling-icon.svg">
            </div>
            <div class="o-forward__section__title">Fusce atsem</div>
            <div class="o-forward__section__copy">
                Aliquam tempor imperdiet massa, nec sollicitudin ante ultricies eget. Nam sit amet dolor velit. Nam facilisis, risus vitae consequat.
            </div>
        </div>
    </div>
    <div class="o-forward__section">
        <div class="o-forward__section__quad">
            <div class="o-forward__section__icon">
                <img src="/assets/images/cloud-sun-rain-icon_0.svg">
            </div>
            <div class="o-forward__section__title">Phasellus acnulla</div>
            <div class="o-forward__section__copy">
                Integer ullamcorper mi vitae aliquam ultrices. Cras imperdiet gravida ligula, sed vehicula neque vestibulum sed. 
            </div>
        </div>
    </div>
</div>
